.image-container {
    position: relative;
    overflow: hidden;
    background: #e7f7eb;
  }
  
  .transition-image {
    width: 100%;
    height: auto;
    transition: transform cubic-bezier(111, 0, 10, 91) ease-in-out;
    border-color: black;
    background: #000;
  }
  
  .transition-image:hover {
    transform: translateX(10px);
  }
  
  .color-change {
    background-color:  #e7f7eb;
    transition: background-color 1s ease-in-out;
  }
  
  @keyframes infinite-loop {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .infinite-animation {
    animation: infinite-loop 1001s infinite;
    color: #000;
  }
  